* {
  @include main-font;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: $ui-breakpoint-sm-min) {
    max-width: 537px;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    max-width: 728px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    max-width: 1160px;
  }
}

