//-------------------------------------
//--------------- color ----------
$ui-title-color: #4E4E4E;
$ui-subtitle-color: #7C7C7C;
$ui-text-color: #5C5C5C;
$ui-title-color-footer: #FEFEFE;
$ui-text-color-footer: #B9B9B9;
$ui-hover-color: #57A4A4;

//-------------------------------------
//--------------- breakpoint ----------
$ui-breakpoint-xl: "1199px";
$ui-breakpoint-xl-min: "1200px";

$ui-breakpoint-md: "767px";
$ui-breakpoint-md-min: "768px";

$ui-breakpoint-sm: "576px";
$ui-breakpoint-sm-min: "577px";

//-------------------------------------
//--------------- Z-Index ----------
$ui-index-1: 1; // Для наповзаючих єлементів в блоці
$ui-index-2: 2; // Для наповзаючих єлементів в блоці
$ui-index-3: 3; // Для наповзаючих єлементів в блоці
$ui-index-4: 4; // Для наповзаючих єлементів в блоці
$ui-index-5: 5; // Для наповзаючих єлементів в блоці

$ui-index-6: 6; // Для затемняючих елементів та блюр масок
$ui-index-7: 7; // Для сайдбарів
$ui-index-8: 8; // Для модальні вікна
$ui-index-9: 9; // Для єлементів перекриваючих все

