.header-nav {
  display: none;
  position: fixed;
  top: 60px;
  right: 20px;
  background: #F5F5F5;
  min-width: 182px;
  width: max-content;
  height: 208px;
  z-index: $ui-index-3;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
    position: static;
    background: none;
    width: 100%;
    max-height: 100px;
    justify-content: center;
    align-items: center;
  }

  .header-nav__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-transform: uppercase;
    margin-left: 12px;

    @media screen and (min-width: $ui-breakpoint-md-min) {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .header-nav__list-item {
    .header-nav__list-item-link {
      color: $ui-title-color;
      letter-spacing: 1.1px;
      font-size: 11px;

      &:hover {
        color: $ui-hover-color;
        transition: .5s;
      }

      @media screen and (min-width: $ui-breakpoint-xl-min) {
        font-size: 14px;
      }
    }
  }
}

.header-nav.active__nav-list {
  display: flex;
}

.header__nav-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 23px 0;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: none;
  }
}

.nav-icon {
  @include ui-flex(center, center);
  background-color: black;
  width: 44px;
  height: 37px;
  color: white;
  font-size: 40px;
}

.nav-icon__close {
  display: none;
}

.header-image {
  img {
    width: 100%;
    min-height: 150px;
  }
}
