// =============== POST ===============
@media screen and (min-width: $ui-breakpoint-sm-min) {
  .main-card {
    display: flex;

    @media screen and (min-width: $ui-breakpoint-md-min) {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.main-title {
  text-transform: uppercase;
  @include card-text(14px, 700, 22px);
  padding: 38px 0 23px 0;
}

.main-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media screen and (min-width: $ui-breakpoint-sm-min) {
  .main-card__title-wrapper {
    padding-left: 11px;

    @media screen and (min-width: $ui-breakpoint-md-min) {
      padding-left: 21px;
    }
  }
}

.main-card__title {
  @include card-text(14px, 700, 30px)
}

.main-card__title-paragraph {
  @include card-text(12px, 400, 20px);
  color: $ui-subtitle-color;
  padding-bottom: 13px;
}

.main-card__title-paragraph-text {
  display: none;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;
    @include card-text(14px, 400, 26px);
    color: $ui-text-color;
  }
}
// =============== POST ===============


// =============== instagram-POST ===============
@media screen and (min-width: $ui-breakpoint-md-min) {
  .main-background-wrapper {
    width: 100%;
    margin-top: 60px;
    min-height: 400px;
    background: lighten($ui-subtitle-color, 40);
  }
}

.main-title-container {
  display: flex;
  justify-content: space-between;
}

.main-title__link {
  display: none;
  text-decoration: underline;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;
    color: inherit;
  }
}

.main-instagram {
  display: flex;
  margin-bottom: 42px;
  @media screen and (min-width: $ui-breakpoint-sm-min) {
      gap: 5px;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    gap: 10px;
  }
}

.main-instagram__img {
  min-width: 279px;
  @media screen and (min-width: $ui-breakpoint-sm-min) {
      min-width: 225px;
      min-height: 225px;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    min-width: 225px;
    min-height: 225px;
  }
}

.main-instagram__img-2 {
  display: none;
  @media screen and (min-width: $ui-breakpoint-sm-min) {
      display: block;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;
  }
}

.main-instagram__img-3 {
  display: none;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;
  }
}

.main-instagram__img-4 {
  display: none;

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    display: block;
  }
}
// =============== instagram-POST ===============





