@mixin main-font {
  font-family: "Roboto", sans-serif;
}

@mixin ui-flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin card-text($font-size, $font-weight, $line-height){
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}


